body {
    background-color: #033314;
    font-family: 'Lora', serif;
}

h1 {
    color: white;
    margin-left: 20px;
    font-family: 'Tangerine', cursive;
}

h3 {
    color: white;
    margin-left: 20px;
    font-family: 'Tangerine', cursive;
}

h2 {
    color: white;
    margin-left: 20px;
    font-family: 'Tangerine', cursive;
}
p{
    font-family: 'Lora', serif;
    color: white
}

.carousel-inner{
    justify-content:center;
} 
a{
    color: white;
}
