body {
    background-color: #033314;
    font-family: 'Lora', serif;
}

h1 {
    color: #ffffff;
    margin-left: 20px;
    font-family: 'Tangerine', cursive;
}

p{
    font-family: 'Lora', serif;
    color: #ffffff
}

.carousel-inner{
    justify-content:center;
} 
a{
    color: white;
}
