body {
    background-color: #033314;
    font-family: 'Lora', serif;
}

h1 {
    color: #E3FFFF;
    margin-left: 20px;
    font-family: 'Tangerine', cursive;
}

p{
    font-family: 'Lora', serif;
    
}

.carousel-inner{
    justify-content:center;
}