
#monsterImg {
    width= 25%;
    
}


#monsterText {
    width= 75%;
}

h1 {
    text-align: center;
}
h3{
    font-size: 25px;
}

p {
    margin-top: 25px;
    margin-right: 35px
    
}

img {
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 50px;
    float: left;
    /*margin: 0px 0px 15px 20px;*/
    
}
